.pay-table-container {
  width: 140px;
  height: 300px;
  position: relative;
  z-index: 1;
}

.pay-table-box {
  background: black;
  opacity: 0.5;
  width: 240px;
  height: 300px;
  margin-right: 50px;
  top: 300px;
}

.pay-table-container hr {
  margin: 0px 10px 0px 0px;
}

.pay-table-container table td {
  padding: 2px;
}
