.red { color: #ff0000; }

.card-container {
  border-width: 3px;
  border-style: solid;
  border-radius: 10%;
  background: ivory;
  width: 83px;
  height: 124px;
  margin-left: 25px;
}

.hold-container {
  width: 83px;
  height: 25px;
  font-weight: bold;
  font-size: large;
  color: aqua;
  margin-left: 25px;
}

.large-suit {
  font-size: 3em;
  font-family: "Courier New";
  position: relative;
  left: .25em;
  top:  .25em;
}

.small-suit {
  font-size: 18pt;
  font-family: "Courier New";
  position: relative;
  top: -7px;
  text-align: left;
}

.xlarge-suit {
  font-size: 52pt;
  font-family: "Courier New";
  margin-top: -32px;
  margin-left: 15px;
}

.card-rank {
  font-family: 'Agency FB';
  font-size: 24pt;
  font-style: normal;
  font-weight: bold;
  height: 37px;
  width: 35px;
  text-align: left;
  vertical-align: top;
}

button.flip-card {
  width: 77px;
  height: 117px;
  color: black;
  border-width: 0px;
  background: ivory;
}

/*

.xlarge-suit {
  font-size: 2.8em;
  font-family: "Courier New";
  position: relative;
  left: .28em;
  top:  .30em;
}

.card-front {
  background-color:ivory;
  border-radius: 5%;
  color: #000000;
  width: 100%;
  height: 100%;
  display: block;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

a.card-front {
  width: 100px;
  height: 100%;
}

button div.card-rank {
  font-size: 1.5em;
  font-family: "Gloucester MT Extra Condensed";
  text-align: center;
  position: relative;
  left: 2px;
  top: 0px;
}

.discard-red {
  color: #81000a;
  background: linear-gradient(lightgray, darkgray);
}

.discard-black {
  color: #2b2b2b;
  background: linear-gradient(lightgray, darkgray);
}

.card-rank {
  font-size: 1.5em;
  font-family: "Gloucester MT Extra Condensed";
  text-align: center;
  position: absolute;
  left: 2px;
}

.small-suit {
  font-size: 90%;
  font-family: "Courier New";
  position: absolute;
  height: auto;
  top: 1.75em;
  left: .25em;
}



.face {
  border: 1px solid #000000;
  position: absolute;
  left: 0.50em;
  top:  0.45em;
  width:  2.6em;
  height: 4.0em;
}

.flip-card {
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  color: black;
}
*/

.flip-cardzzzz div.front {
  margin: 0;
  display: block;
  backface-visibility: hidden;
  border-width: 3px;
  border-style: solid;
  box-shadow: 4px 4px 3px gray;
  border-radius: 10%;
  font-size: 12pt;   /* resize font to resize the poker card */
  font-family: "Times New Roman";
  width: 3.2em;
  height: 4.2em;
  top: 0;
  left: 0;
}

.flip-cardzzzz .back {
  border-width: 3px;
  border-style: solid;
  box-shadow: 4px 4px 3px gray;
  border-radius: 10%;
  /* background-image: url("assets/img/b2fv.png");
  background-repeat: no-repeat;
  background-size: contain;
  */
  font-size: 12pt;   /* resize font to resize the poker card */
  font-family: "Times New Roman";
  width: 3.2em;
  height: 4.2em;
  transform: rotateY(180deg);
  top: 0;
  left: 0;
}

@media screen and (max-width: 400px) {
  .card-container {
    width: 60px;
    height: 100px;
    margin-left: 20px;
  }

  .hold-container {
    margin-left: 8px;
  }

  button.flip-card {
    width: 55px;
    height: 95px;
  }

  .card-rank {
    font-size: 18pt;
  }

  .small-suit {
    font-size: 14pt;
    top: -14px;
  }

  .xlarge-suit {
    font-size: 42pt;
  }


}
