<div class="container">
  <h5 class="text-uppercase">{{pageTitle}}</h5>
  <h1>Jacks or Better</h1>
  <img src="assets\img\FourAces.png" class="poker-image pull-left">
  <div class="pay-table-box pull-right">
    <pay-table></pay-table>
  </div>
  <div class="credit-table-box">
    <h4 class="text-center"><u>Credits</u></h4>
    <span class="text-center">{{credits}}</span>
  </div>

  <div class="row">
    <div class="text-center">
      <p class="practice-payout" [innerHTML]="handPayout"></p>
    </div>
  </div>

  <div class="hand-table-box">
    <div class="row card-area {{grayArea}}">
      <div class="col-xs-2"  *ngFor="let card of pokerHand">
        <ai-card [card]="card"></ai-card>
      </div>
    </div>
    <div class="row practice-button-row">
      <div class="col-sm-7 col-xs-7 col-sm-offset-1">
        <h5>Press Deal to begin playing, select which cards to hold, then press Draw. Bet is 1.</h5>
      </div>
      <div class="col-sm-4 col-xs-5 text-center">
        <button class="btn btn-default btn-lg deal-button {{dealDisabled}}" id="btnDeal" (click)="onDealClick($event, deck,  pokerHand)">Deal</button>
      </div>
    </div>
  </div>
</div>

<p class="text-center">Source code for this website is available on GitHub: <a href="https://github.com/jalute/JaluteWeb2017">https://github.com/jalute/JaluteWeb2017</a></p>
