.container {
  background: black;
  background-image: url("/assets/img/black_crisscross.png");
  color: white;
  width: 600px;
}
.poker-image {
  margin-top: 10px;
  width: 210px;
  height: auto;
}

.card-container {
  font-size: 12pt;   /* resize font to resize the poker card */
  font-family: "Times New Roman";
  height: 4.2em;
  margin-left: 0.5em;
  position: relative;
  perspective: 800px;
}

.card-area {
  margin-bottom: 30px;
}

.pay-table-box {
  background: black;
  width: 160px;
  height: 265px;
  margin-right: 50px;
  border-width: thin;
  border-style: dotted;
  border-color: #424749;
}

.credit-table-box {
  background: black;
  width: 100px;
  height: 65px;
  margin-left: 50px;
  margin-top: 210px;
  margin-bottom: 20px;
  border-width: thin;
  border-style: dotted;
  border-color: #424749;
}

.hand-table-box {
  background: black;
  width: 510px;
  height: 240px;
  margin-left: 30px;
  margin-bottom: 20px;
  border-width: thin;
  border-style: dotted;
  border-color: #424749;
}

.credit-table-box span {
  font-weight: bold;
  font-size: large;
  display: block;
  margin-top: -5px;
}

.practice-payout {
  font-size: 24pt;
  font-family: "Segoe UI";
  color: gold;
  font-weight: bold;
  height: 1em;
  margin-bottom: 1em;
}
.deal-button {
  background-color: black;
  border-color: white;
  color: white;
  width: 100px;
}

.gray-area {
  opacity: 0.3;
}

@media screen and (max-width: 400px) {
  .container {
    width: 400px;
  }

  .poker-image {
    width: 145px;
  }

  .hand-table-box {
    width: 350px;
    height: 215px;
    margin-left: 0px;
    margin-top: 0px;
  }

  .pay-table-box {
    width: 160px;
    height: 265px;
    margin-right: 50px;
    margin-bottom: 0px;
  }

  .credit-table-box {
    margin-bottom: 0px;
  }

  .practice-button-row h5 {
    margin-top: 0px;
    margin-left: 15px;
  }

}
