<nav class="navbar navbar-blue" role="navigation">
  <a class="navbar-brand white-text" [routerLink]="['/home']">
    <img alt="world" class="world-logo-image" src="assets/img/world.gif">
    Jalute Mark George</a>
  <div class="collapse navbar-collapse" id="topNavbar">
    <ul class="nav navbar-nav navbar-right shift-left">
      <li id="navHome" class="{{activeHome}}"><a class="white-text" [routerLink]="['/home']">Home</a></li>
      <li id="navResume" class="{{activeResume}}"><a class="white-text" [routerLink]="['/resume']">Resume</a></li>
      <li id="navProjects" class="{{activeProjects}}"><a class="white-text" href="#/poker">Angular 4 Poker</a></li>
    </ul>
  </div>
  <!-- hamburger menu -->
  <div class="navbar-toggle collapsed">
    <div class="btn-group">
      <button id="btnMenu" class="btn btn-link dropdown-toggle white-text"
              data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="btnMenu">
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/resume']">Resume</a></li>
        <li><a href="#/poker">Angular 4 Poker</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<hr>
<h6 class="text-center">
  This site developed by J. Mark George |
  <a href="http://www.facebook.com/jalute"><img src="assets/img/fb-2.jpg" alt="Facebook" height="25"> - Facebook</a> |
  <a href="https://www.linkedin.com/pub/jalute-george/34/105/928" target="_blank" class="c_nobdr t_prs">
    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_bluetxt_80x15.png" width="80" height="15" border="0" alt="">
  </a>
</h6>

