.world-logo-image {
  height: 2.0em;
  width: auto;
  float: left;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: -0.5em;
}

@media screen and (max-width: 767px) {
  .project-image {
    width: 1px;
  }

  .world-logo-image {
    margin-left: 0em;
  }

  .btn-link {
    font-size: 22pt;
    margin-top: -17px;
  }

  .dropdown-menu li {
    font-size: 22px;
    line-height: 2em;
  }
}
