<div class="container">
  <div class="row">
    <div class="col col-lg-10 col-lg-offset-1">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <h1>CV</h1>
              <h1><small>J. Mark George</small></h1>
              <p>St. Petersburg, Florida</p>
              <p>
                Email: <a href="mailto:mark.j.george@outlook.com">mark.j.george@outlook.com</a><br>
                Cell Phone: 727-421-0049
              </p>

              <a href="https://www.linkedin.com/pub/jalute-george/34/105/928" target="_blank" class="c_nobdr t_prs">
                <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_bluetxt_80x15.png" width="80" height="15" border="0" alt="">
              </a>
            </div>
            <div class="col-lg6 col-md-6">
              <img src="assets/img/headshot1_small.jpg" class="headshot-image pull-right">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-lg-offset-1 col-lg-7 col-md-7 col-md-offset-1">
      <h3 class="resume-header">Summary</h3>
      <hr>
      <ul>
        <li>Computer Science graduate from <span style="color: darkred">Indiana University</span> with diversified experience creating complex enterprise applications and working in multiple Software Life Cycle methodologies from team environments to working independently in a self-motivated capacity.</li>
        <li>5 years of experience with Agile Scrum development methodologies.</li>
        <li>10 years of experience of design and development in Oracle P-SQL environment.</li>
        <li>10+ years of experience developing in VB.Net and C# with Microsoft Visual Studio.</li>
        <li>Excels in learning and adapting to new technologies, and solving complex analytical problems with little guidance or instructions and can teach knowledge to junior developers in a mentoring role.</li>
      </ul>
      <h3 class="resume-header">Work Experience</h3>
      <hr>
      <h4>DXC Technology (formally Hewlett Packard Enterprise)</h4>
      <h4><small>St. Petersburg, FL<span class="pull-right">2012 - Present </span></small></h4>
      <hr>
      <strong>Mobile Consultant/Specialist</strong>
      <ul>
        <li>Security clearance required position</li>
        <li>Developing HTML5 responsive web Health Care applications, designed for the iPad and mobile phones, from the ground up utilizing Backbone.js, Marionette, Twitter Bootstrap 3.3, CSS, SASS, Handlebars, and D3.JS. Backend API calls to Rest Service utilizing AJAX and Backbone.js call mechanisms. All applications comply with 508 coding standards for usability.</li>
        <li>Responsible for maintaining Developer's Guide, Data Dictionaries, Interface Design Documents, and Architecture Review Documents for government compliance procedures.</li>
      </ul>
      <strong>.Net Consultant/Specialist</strong>
      <ul>
        <li>Developed new multi-threaded WCF service in C# using Visual Studio 2010 to transfer Healthcare XML data between two separate systems in near real-time communication using SSL. Highly configurable options programmed into WCF service on time intervals, thread usage, message queue settings, verbose logging, and software throttling options for customizing to newer hardware configurations for a long-term deployment strategy without future code changes.</li>
        <li>Modified Oracle PL/SQL package using TOAD to parse an XML payload and populate Oracle table/columns based on specified mappings provided in specifications.</li>
        <li>Modernized legacy application written in Microsoft 1.1 Framework to 4.0 Framework in C# utilizing newer language features while following strict government code compliance procedures.</li>
        <li>Created robust monitoring system to log application status to event logs and a public SMTP email accounts for passive monitoring.</li>
        <li>Created and coded to Message Queues to store XML Transmissions before transmitting to allow for flexible scaling and recovery options.</li>
        <li>Worked with multiple departments to analyze business requirements, follow guidance defined in software architecture documents, and worked closely with quality assurance team.</li>
      </ul>
      <hr>
      <h4>JP Morgan Chase Paymentech</h4>
      <h4><small>Dallas, TX then transferred to Tampa, FL<span class="pull-right">1998 - 2012 </span></small></h4>
      <hr>
      <strong>Application Developer Lead</strong>
      <ul>
        <li>Go-to person when the most challenging business requirements to comply with government and security requirements that are imposed on our department.</li>
        <li>Develop in-house Winform VB.NET and ASP.NET tools to automate repetitive programming tasks and patterns for increasing developers’ productivity.</li>
        <li>Developed internal SOAP/XML web service to connect with external company web services using Verisign SSL (X.509) certificates to comply with security standards from the issuing company.</li>
        <li>Communicated closely with stakeholders on system design and implementations to customize a user-friendly Winform application in VB.NET specifically for their complex requirements.</li>
        <li>Size and estimate user stories for upcoming sprints in an Agile Scrum development environment.</li>
        <li>Perform serializing and deserializing XML using Cascading Style Sheets (CSS) to transform merchant data into tables (MS Access), spreadsheets (MS Excel), and/or html output.</li>
        <li>Created internal web services (WCF) and interfaces (Oracle Stored Procedures) to pass dynamic XML data payloads securely over firewalls between geographically separated servers.</li>
        <li>Experience working with large Oracle relational databases.</li>
      </ul>
      <strong>Application Developer (level III)</strong>
      <ul>
        <li>Instrumental in the development of a multi-language (intranet) web merchant acquisition system written in VB.NET/ASP.NET. Main role was to develop, design, and standardize code patterns to create a rich user environment using DevExpress controls with navigational tabs and button icons to allow the user to navigate intuitively through the application workflow that initially required 14+ days to board a merchant into a new centralized ASP.NET system that currently only requires two days to complete the same workflow. Enabling sales teams to capitalize on this advantage that is vital in the growth of Paymentech. Built from the ground up and currently used by sales teams throughout the country.</li>
        <li>Optimized an Informatica workflow that took over twenty minutes to migrate hundreds of customer’s data down to under one minute into a merchant acquisition endpoint. Worked closely with Database Administrators and Informatica specialist to identify inefficient Oracle table queries, maximizing cache, taking advantage of table indexes, and creating store-procedures to reduce latency.</li>
        <li>Coordinated and delegated workloads with contractors to ensure project deadline expectations were meet.</li>
        <li>Generated a standardize error handler that calls a centralized ASP.NET web service to record errors to the Microsoft server’s message queue and into email folder that assist in researching production issues.</li>
        <li>Worked closely with quality assurance for unit and regression testing to assist QA analyst.</li>
        <li>Architect and developed Oracle packages, tables, and views to store, share, and transmit XML data between multiple applications and systems.</li>
        <li>Created and maintain detail application documentation in an internal wiki that assist various departments in the usage of the merchant acquisition system.</li>
        <li>Integrated aggressive data optimization techniques to minimized network communication across trans-continental endpoints.</li>
      </ul>
      <strong>Application Developer (level II)</strong>
      <ul>
        <li>Assisted in the invention of a VB6 Winform Help Desk application for programming POS devices that was innovative and patented (<a href="http://www.freepatentsonline.com/8220003.html">#8,220,003</a>). Listed as an inventor on patent.</li>
        <li>Coordinated with Product Managers and multiple departments to analyze business requirements, write technical responses, estimate development time, and translate them into a successful product.</li>
        <li>Primary developer to cultivate the Help Desk application from a twenty-user system running in VBA Microsoft Access to a 300+ user enterprise multi-site Oracle application.</li>
        <li>Provided training seminars for application administrators on usage, configuration, and security of custom Help Desk application.</li>
      </ul>
      <hr>
      <h4>EER Systems</h4>
      <h4><small>Frankfort, KY<span class="pull-right">1997-1998</span></small></h4>
      <hr>
      <strong>Contractor for the Department of Financial Institutions</strong>
      <ul>
        <li>Rewrote all legacy applications (DOS/Dbase) into Window (NT4) applications using Visual Basic 5.0/SQL Server 6.5 before they became obsolete technology.</li>
        <li>Established and published a public service website on their NT4 servers using Microsoft Frontpage and Visual Studio.</li>
        <li>Developed an internal discussion board (before they were called blogs) to allow department bulletins to be published internally and externally.</li>
      </ul>
      <hr>
      <h4>The Computer Bank, Inc.</h4>
      <h4><small>Indianapolis, IN<span class="pull-right">1995-1997</span></small></h4>
      <hr>
      <strong>Contractor</strong>
      <ul>
        <li>Contracted out for various small projects that involved customizing functionality for a commercial Help Desk tool (Software Artistry) in a proprietary Basic 4GL language provided by the vendor.</li>
      </ul>
      <hr>
      <h4>Mentap Systems</h4>
      <h4><small>Cincinnati, OH<span class="pull-right">1992-1995</span></small></h4>
      <hr>
      <strong>C Programmer</strong>
      <ul>
        <li>Developed a commercial transaction application to monitor trading activity for mutual fund companies that ran on a Btrieve database written in Microsoft C for the DOS environment.</li>
        <li>Converted all DOS Basic application into Microsoft C to eventually migrate our code into Microsoft
          Windows using WFC and ODBC.</li>
        <li>Generated custom reports that injected directly to the universal print driver.
          This allowed customers to use any type of printer for reports.</li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 right-resume">
      <legend>Education</legend>
      <img src="assets/img/indiana.gif" class="pull-right">
      <h4>Indiana University</h4>
      <div>
        B.A. in Computer Science<br>
        Minor in Mathematics
      </div>
      <legend>Languages</legend>
      <div class="text-nowrap">
        JavaScript<br>
        C#, VB.NET, VB6, ASP.NET<br>
        SQL, PL/SQL (Oracle)<br>
        XML, AJAX, HTML5/CSS
      </div>
      <legend>Frameworks</legend>
      <div class="text-nowrap">
        Backbone.js<br>
        Twitter Bootstrap 3.2<br>
        Angular.js<br>
        Handlebars<br>
        jQuery 2.1<br>
        .Net Framework (1.1 to 4.5)<br>
        Windows Phone 7/8<br>
        Windows Communication Foundation (WCF) 3.0/4.0<br>
        MQ Messaging<br>
        Microsoft Foundation Classes (MFC)
      </div>
      <legend>Development Software</legend>
      <div class="text-nowrap">
        All version of Visual Studio<br>
        Team Foundation Server<br>
        Visual Source Safe<br>
        MKS Source Integrity<br>
        Atlassian Stash/JIRA<br>
        GitHub<br>
        JetBrains Webstorm<br>
        Microsoft Office 2003+<br>
        Toad for Oracle<br>
        Oxygen (XML)<br>
        DataDirect (for Oracle)<br>
        Crystal Reports
      </div>
      <legend>Applications Developed</legend>
      <div class="text-nowrap">
        Responsive Web Apps<br>
        Windows Mobile/Phone/Tablet/Winforms<br>
        UI and Data Frameworks (in C# and VB)<br>
        Web Services (with X.509 SSL certificates)<br>
        Web Apps (Cab file distributed)<br>
        Data-driven Apps<br>
        Blogs and Wikis<br>
        Window NT services<br>
        Data migrations and transformations apps<br>
        Reports
      </div>
      <legend>Operating Systems</legend>
      <div class="text-nowrap">
        All versions of Windows (including mobile)<br>
        Microsoft DOS<br>
        Apple OSX (Macs, iPads, and iPhones)<br>
        Android 4.4/5.0 (mobile)<br>
        Some Unix experience
      </div>
    </div>
  </div>

</div>

