<div class="row">
  <div class="col-lg-offset-1 col-lg-4 col-md-4 col-md-offset-1">
    <p class="welcome">Currently looking for new opportunities!</p>
    <legend>About me</legend>
    <p class="my-content">
      I was born in Dallas, Texas but I grew up in Bright, Indiana. I graduated from Indiana University
      and kept moving south until I settled down in St. Petersburg, Florida.  I have been living here since 2001
      and I enjoy living the Florida life of sand volleyball, fishing, camping,
      and outdoor adventuring.
    </p>
    <legend>Career Goals</legend>
    <p class="my-content">
      I love programming! It's always good to have a job where you love what you are doing.
      It is always a great feeling to be able to write applications that people love to use,
      and enriches them in some professional or personal way. I want to continue to mature as a developer
      and some day, create that "next big app".
    </p>
    <div class="text-center">
      <p class="my-content">
        <a class="btn btn-primary btn-lg" [routerLink]="['/resume']">My Resume</a>
      </p>
    </div>

    <legend>Developer Showcase</legend>
    <div class="text-center">
      <p class="my-content">
        <a class="btn btn-primary btn-lg" href="#poker">Angular 4 App</a>
      </p>
    </div>

    <legend>Words to Live By</legend>
    <blockquote>
      <p class="my-content">
        Walk to the edge.<br>
        listen hard.<br>
        practice wellness.<br>
        <strong>Play</strong> with abandon.<br>
        <span style="font-size: xx-large">l a u g h.</span><br>
        choose with no regret.<br>
        continue to <strong>Learn</strong>.<br>
        appreciate your friends.<br><br>
        <em>
          do what<br>
          you love.<br><br>
        </em>
        live as if this is all there is.
      </p>
      <footer class="text-right"><cite title="author">Mary Radmacher</cite></footer>
    </blockquote>

  </div>
  <div class="col-lg-7 col-md-7">
    <img src="assets/img/headshot9_web.jpg" class="main-picture">
  </div>
</div>
